.view-pokemon {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  border-radius: 30px;
}

.bodypokemon{
  border-radius: 30px;
}

normal {
  background-color: #a6a877;
}

.grass {
  background-color: #77c850;
}

.fire {
  background-color: #ee7f30;
}

.water {
  background-color: #678fee;
}

.electric {
  background-color: #f7cf2e;
}

.ice {
  background-color: #98d5d7;
}

.ground {
  background-color: #dfbf69;
}

.flying {
  background-color: #a98ff0;
}

.poison {
  background-color: #a040a0;
}

.fighting {
  background-color: #bf3029;
}

.psychic {
  background-color: #f65687;
}

.dark {
  background-color: #725847;
}

.rock {
  background-color: #b8a137;
}

.bug {
  background-color: #a8b720;
}

.ghost {
  background-color: #6e5896;
}

.steel {
  background-color: #b9b7cf;
}

.dragon {
  background-color: #6f38f6;
}

.fairy {
  background-color: #f9aec7;
}

.container-navegation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px 0;
}

.container-navegation img {
  max-width: 7%;
}

.menu-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  text-transform: capitalize;
  padding: 0 20px;
  margin: 10px 0;
  font-weight: 600;
}

.info-pokemon span{
    font-size: 1.5rem;
}

.type {
  margin: 5px 0;
  display: flex;
  justify-content: left;
  align-items: center;
}

.number {
  margin-top: 10px;
}

.type span {
  display: block;
  width: 50px;
  text-align: center;
  margin: 0 5px 0 0;
  padding: 3px;
  font-size: 0.7rem;
  border-radius: 30px;
  background-color: rgb(255, 255, 255, 0.3);
}

.img-pokemon {
  height: 30vh;
  position: relative;
}

.img-pokemon img{
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.detail-pockmon {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 30px;
  background: #fff;
  padding: 10px 10px 20px;
}

.detail-pockmon nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 30px 0 10px;
  padding-bottom: 20px;
  border-bottom: 2px solid rgb(128, 128, 128, 0.2);
}

.detail-type {
  list-style: none;
  margin: 0;
  padding: 0;
}

.detail-type li {
  padding: 5px 10px;
  color: rgb(128, 128, 128, 0.5);
}

.detail-type li span{
  padding-left: 15px;
  text-transform: capitalize;
  font-size: 1rem;
  color: #000;
}

.detail-pockmon h4 {
  padding: 0 10px;
}
